<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.cs623project.mapper.ProductMapper">


    <resultMap id="Product" type="com.example.cs623project.entity.Product">
        <id column="prod_id" property="prodId" jdbcType="CHAR"></id>
        <result column="pname" property="pname"/>
        <result column="price" property="price"/>
    </resultMap>


    <insert id="insert" >
        INSERT INTO Product (
            prod_id,
            pname,
            price
        ) VALUES (
            #{prodId},
            #{pname},
            #{price}
        )
    </insert>

    <delete id="deleteByProductId" parameterType="java.lang.String">
        DELETE FROM Product
        WHERE prod_id = #{prodId, jdbcType=CHAR}

    </delete>
</mapper>